    
     
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"
        crossorigin="anonymous" />
    <!-- js bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

   <!-- css CDN -->
   <link href="https://cdn.www.gov.co/v2/assets/cdn.min.css" rel="stylesheet">
   <!-- utils.js CDN -->
   <script src="https://cdn.www.gov.co/v2/assets/js/utils.js"></script>

<nav
    class="navbar navbar-expand-lg fixed-top navbar-govco">
   <!--Nivel 1 - Sección de notificaciones -->
   
    <!--Nivel 2 - Sección de navegación -->
   <div class="navbar-container">
     <div class="navbar-logo float-left">
       <a class="navbar-brand" href="http://190.60.233.154/">
         <img src="https://cdn.www.gov.co/assets/images/logo.png" width="auto" height="30" alt="Logo Gov.co">
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     </div>
     <div class="collapse navbar-collapse  float-right">
       <div class="nav-primary">
         <ul class="navbar-nav ">
           <li >
            <button class="btn btn-round btn-high form-control">INICIO SESIÓN</button>
           </li>
           <li >
            <button class="btn btn-round btn-high form-control">CARPETA CIUDADANA</button>
           </li>
         </ul>
       </div>
       <div class="nav-item-primary">
         <div class="form-inline form-search-bar my-2 my-lg-0">
           <input class="form-control mr-sm-2 search-navbar"
           type="search"
           placeholder="Buscar"
           aria-label="Search"
           name="searchTerm"
           id="searchTerm">
           <span class="govco-icon govco-icon-search-n"></span>
         </div>
        
       </div>
     </div>
   </div>
    <!--Nivel 3 - Sección de menú flotante-->
   <div class="nav-secondary govco-content" id="nav-secondary">
     <div class="container">
       <div class="collapse navbar-collapse navbar-first-menu">
         <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">INICIO</a>
            </li>
           <li class="nav-item active">
             <a class="nav-link" href="tramitesServicios.html">TRÁMITES Y SERVICIOS</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">TU OPINION CUENTA</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">ENTIDADES</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">PORTAL TERRITORIAL</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">SOBRE NOSOTROS</a>
           </li>
         </ul>
       </div>
     </div>
   </div>        
 </nav>
 <div class="page-header clear-filter page-header-hidden"></div>